@model DUST.Models.ViewModels.AssignDeveloperViewModel

@{
    ViewData["Title"] = "Assign Developer";
}

<div class="content">
    <div class="row">
        <div class="col-md-6">
            <h2 class="mb-4">Assign a Developer</h2>
            <div class="card" style="max-width:25rem;">
                <img class="card-img-top" src="~/img/defaultProjectImage.jpg">
                <div class="card-body">
                    <h5 class="card-title">@Model.Ticket.Title</h5>
                    <p class="card-text line-clamp-4">@Model.Ticket.Description </p>
                    <form asp-action="AssignDeveloper" method="post">
                        <input type="hidden" asp-for="Ticket.Id" />
                        <select required class="card-text form-select mb-2" asp-for="DeveloperId" asp-items="@Model.Developers" aria-label="Select a Developer">
                            <option></option>
                        </select>
                        <input type="submit" value="Assign Developer" class="btn btn-primary" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>