@model DUST.Models.Ticket

<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    @{
        ViewData["Title"] = "Edit";
    }
</head>

<body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->

    <div class="content">
        <h2 class="mb-6">Edit a ticket</h2>
        <div class="row">
            <div class="col-xl-9">
                <form class="row g-3 mb-6" asp-action="Edit" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />                    
                    <input type="hidden" asp-for="Created" />
                    <input type="hidden" asp-for="OwnerUserId" />
                    <input type="hidden" asp-for="DeveloperUserId" />
                    <input type="hidden" asp-for="Archived" />
                    <div class="col-12 mb-4">
                        <h4 class="mb-3">Title</h4>
                        <input class="form-control" asp-for="Title" placeholder="Write title here..." />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                    <div class="col-12 mb-4">
                        <h4 class="mb-3">Description</h4>
                        <textarea class="form-control" asp-for="Description" placeholder="Optional description here..." style="height: 100px"></textarea>
                    </div>
                    <div class="col-12 mb-4">
                        <h4 class="mb-3">Project</h4>
                        <select class="form-select" asp-items="ViewBag.ProjectId" asp-for="ProjectId">
                            <option></option>
                        </select>
                    </div>
                    <div class="col-sm-4 mb-4">
                        <h4 class="mb-3">Ticket Type</h4>
                        <select class="form-select" asp-items="ViewBag.TicketTypeId" asp-for="TicketTypeId">
                            <option></option>
                        </select>
                    </div>
                    <div class="col-sm-4 mb-4">
                        <h4 class="mb-3">Ticket Priority</h4>
                        <select class="form-select" asp-items="ViewBag.TicketPriorityId" asp-for="TicketPriorityId">
                            <option></option>
                        </select>
                    </div>
                    <div class="col-sm-4 mb-4">
                        <h4 class="mb-3">Ticket Status</h4>
                        <select class="form-select" asp-items="ViewBag.TicketStatusId" asp-for="TicketStatusId">
                            <option></option>
                        </select>
                    </div>
                    <div class="col-12 gy-6">
                        <div class="row g-3 justify-content-end">
                            <div class="col-auto">
                                <button class="btn btn-primary px-5 px-sm-15" type="submit" value="Save">Update Ticket</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>

</html>
