@model DUST.Models.ViewModels.AssignPMViewModel

<div class="container">
    <h2 Assign Project Manager for></h2>
    <div class="row">
        <div class="col-md-6">
            <h3>@Model.Project.Name</h3>
            <div class="card mt-3">
                <div class="card-header">
                    <label class="control-label">Assign PM</label>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="AssignPM">
                        <input type="hidden" asp-for="Project.Id" />
                        <p>Description: @Model.Project.Description</p>
                        <div class="form-group">
                            <label class="col-form-label">Select a Project Manager</label>

                            <select required asp-for="PMId" asp-items="@Model.ProjectManagers" class="form-control">
                                <option></option>
                            </select>

                        </div>
                        <div class="form-group mt-3">
                            <input type="submit" value="Assign" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a asp-action="UnassignedProjects">Go Back to unassigned projects</a>
    </div>
</div>
