@model DUST.Models.ViewModels.ProjectMembersViewModel
@{
    ViewData["Title"] = "Assign Members";
}

<div class="content">
    <div class="row">
        <div class="col-md-6">
            <h2 class="mb-4">Assign Team Members</h2>
            <div class="card" style="max-width:25rem;">
                @if (Model.Project.ImageFileData != null)
                    {
                    <img class="card-img-top" src="data:image/*;base64,@(Convert.ToBase64String(Model.Project.ImageFileData))" />
                    }
                    else
                    {
                    <img class="card-img-top" src="~/img/defaultProjectImage.jpg">
                    }
                <div class="card-body">
                    <h5 class="card-title">@Model.Project.Name</h5>
                    <p class="card-text"><b>Note: </b>Select all members you want to add, including those that are part of the project already</p>
                    <form asp-action="AssignMembers" method="post">
                        <input type="hidden" asp-for="Project.Id" />
                        <select required class="card-text form-select mb-2" size="5" asp-for="SelectedUsersIds" asp-items="Model.Users" multiple="multiple" aria-label="Select Team Members">
                        </select>
                        <input type="submit" value="Assign Members" class="btn btn-primary" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>