@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>@ViewData["Title"]</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="~/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicons/favicon.ico">
    <link rel="manifest" href="~/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="~/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="~/css/simplebar.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link href="~/css/theme-rtl.min.css" type="text/css" rel="stylesheet" id="style-rtl">
    <link href="~/css/theme.min.css" type="text/css" rel="stylesheet" id="style-default">
    <link href="~/css/user-rtl.min.css" type="text/css" rel="stylesheet" id="user-style-rtl">
    <link href="~/css/user.min.css" type="text/css" rel="stylesheet" id="user-style-default">

</head>

<body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        <div class="container-fluid px-0">
            <div class="row vh-100 flex-cente g-0">
                <div class="col-lg-6 position-relative d-none d-lg-block">
                    <div class="bg-holder" style="background-image:url(/img/pexels-fauxels-3183150.jpg);">
                    </div>
                    <!--/.bg-holder-->
                </div>
                <div class="col-lg-6">
                    <div class="row flex-center h-100 g-0 px-4 px-sm-0">
                        <div class="col col-sm-6 col-lg-7 col-xl-6">
                            <a class="d-flex flex-center text-decoration-none mb-4" asp-controller="Home" asp-action="Index">
                                <div class="d-flex align-items-center fw-bolder fs-5 d-inline-block">
                                    <img src="~/img/logo.png" alt="phoenix" width="58" />
                                </div>
                            </a>
                            <div class="text-center mb-7">
                                <h3 class="text-1000">Sign In</h3>
                                <p class="text-700">Get access to your account</p>
                            </div>
                            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="mb-3 text-start">
                                    <label class="form-label" asp-for="Input.Email"></label>
                                    <div class="form-icon-container">
                                        <input class="form-control form-icon-input" asp-for="Input.Email" type="email" placeholder="name@company.com" />
                                        <span class="fas fa-user text-900 fs--1 form-icon"></span>
                                    </div>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>                                                              
                                <div class="mb-3">
                                    <label class="form-label" asp-for="Input.Password"></label>
                                    <div class="form-icon-container">
                                        <input class="form-control form-icon-input" asp-for="Input.Password" type="password" placeholder="Password" />
                                        <span class="fas fa-key text-900 fs--1 form-icon"></span>
                                    </div>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="row flex-between-center mb-3">
                                    <div class="col-auto">
                                        <div class="form-check mb-0">
                                            <input class="form-check-input" type="checkbox" checked="checked" asp-for="Input.RememberMe" />
                                            <label class="form-check-label mb-0" asp-for="Input.RememberMe">@Html.DisplayNameFor(m => m.Input.RememberMe)</label>
                                        </div>
                                    </div>
                                    <div class="col-auto"><a class="fs--1 fw-semi-bold" id="forgot-password" asp-page="./ForgotPassword">Forgot Password?</a></div>
                                </div>
                                <button class="btn btn-primary w-100 mb-7" type="submit">Sign In</button>
                                <button class="btn btn-outline-primary w-100 mb-2" type="submit" asp-route-demoAccount="adminBank">Demo Admin at Together Bank</button>
                                <button class="btn btn-outline-primary w-100 mb-2" type="submit" asp-route-demoAccount="devBank">Demo Developer at Together Bank</button>
                                <button class="btn btn-outline-primary w-100 mb-2" type="submit" asp-route-demoAccount="pmInc">Demo Project Manager at E-Commerce Inc.</button>
                                <button class="btn btn-outline-primary w-100 mb-7" type="submit" asp-route-demoAccount="subBoard">Demo Submitter - Personal Board</button>
                                <div class="text-center"><a class="fs--1 fw-bold" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Create an account</a></div>
                                <div class="text-center"><a class="fs--1 fw-bold" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    @section Scripts {
        <script src="../../../vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
        <script src="../../../vendors/simplebar/simplebar.min.js"></script>
        <script src="../../../assets/js/config.js"></script>

        <script>
            var phoenixIsRTL = JSON.parse(localStorage.getItem('phoenixIsRTL'));
            if (phoenixIsRTL) {
                var linkDefault = document.getElementById('style-default');
                var userLinkDefault = document.getElementById('user-style-default');
                linkDefault.setAttribute('disabled', true);
                userLinkDefault.setAttribute('disabled', true);
                document.querySelector('html').setAttribute('dir', 'rtl');
            } else {
                var linkRTL = document.getElementById('style-rtl');
                var userLinkRTL = document.getElementById('user-style-rtl');
                linkRTL.setAttribute('disabled', true);
                userLinkRTL.setAttribute('disabled', true);
            }
        </script>

        <script>
            var navbarTopStyle = localStorage.getItem('phoenixNavbarTopStyle');
            var navbarTop = document.querySelector('.navbar-top');
            if (navbarTopStyle === 'darker') {
                navbarTop.classList.add('navbar-darker');
            }

            var navbarVerticalStyle = localStorage.getItem('phoenixNavbarVerticalStyle');
            var navbarVertical = document.querySelector('.navbar-vertical');
            if (navbarVerticalStyle === 'darker') {
                navbarVertical.classList.add('navbar-darker');
            }
        </script>

        <script src="~/js/popper.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/anchor.min.js"></script>
        <script src="~/js/is.min.js"></script>
        <script src="~/js/all.min.js"></script>
        <script src="~/js/lodash.min.js"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
        <script src="~/js/list.min.js"></script>
        <script src="~/js/feather.min.js"></script>
        <script src="~/js/dayjs.min.js"></script>
        <script src="~/js/phoenix.js"></script>

        <partial name="_ValidationScriptsPartial" />
    }

</body>

</html>
