@model DUST.Models.Invite

<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    @{
        ViewData["Title"] = "Create Invite";
    }
</head>

<body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->

    <div class="content">
        <h2 class="mb-6">Create an Invite</h2>
        <div class="row">
            <div class="col-xl-9">
                <form class="row g-3 mb-6" asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-12 mb-4">
                        <h4 class="mb-3">Invitee Email</h4>
                        <input class="form-control" asp-for="InviteeEmail" placeholder="Email" />
                        <span asp-validation-for="InviteeEmail" class="text-danger"></span>
                    </div>
                    <div class="col-12 mb-4">
                        <h4 class="mb-3">Invitee First Name</h4>
                        <input class="form-control" asp-for="InviteeFirstName" placeholder="First Name" />
                        <span asp-validation-for="InviteeFirstName" class="text-danger"></span>
                    </div>
                    <div class="col-12 mb-4">
                        <h4 class="mb-3">Invitee Last Name</h4>
                        <input class="form-control" asp-for="InviteeLastName" placeholder="Last Name" />
                        <span asp-validation-for="InviteeLastName" class="text-danger"></span>
                    </div>
                    <div class="col-12 mb-4">
                        <h4 class="mb-3">Select the Project the Invitee will work on</h4>
                        <select class="form-select" asp-items="ViewBag.ProjectId" asp-for="ProjectId" placeholder="Select a Project">
                            <option></option>
                        </select>
                    </div>
                    <div class="col-12 mb-3">
                        <h4 class="mb-3">Invite Message</h4>
                        <textarea class="form-control" asp-for="Description" placeholder="Optional message here..." style="height: 100px"></textarea>
                    </div>
                    <div class="col-12 gy-6">
                        <div class="row g-3 justify-content-end">
                            <div class="col-auto">
                                <button class="btn btn-primary px-5 px-sm-15" type="submit" value="Send Invite">Send Invite</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
